.popup__submit-button {
    margin: 0 36px;
    padding: 14px 125px 18px;
    background-color: #000000;
    color: #FFFFFF;
    border: 0;
    border-radius: 2px;
    outline: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}