.popup__form {
  width: 358px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 111px;
  left: 36px;
}

@media (max-width: 520px) {
  .popup__form {
    width: 238px;
    top: 122px;
    left: 22px;
  }
}
