.profile__info {
    display: grid;
    grid-template-columns: 294px 1fr;
    grid-template-areas: "profile__name profile__edit-button"
    "profile__occupation .";
    align-items: center;
    align-content: center;
    gap: 16px;
}