.profile__occupation {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    grid-area: profile__occupation;
}

@media (max-width: 640px) {
    .profile__occupation {
        text-align: center;
    }
}

@media (max-width: 320px) {
    .profile__occupation {
        font-size: 14px;
        line-height: 17px;
    }
}